[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
;[submodule "third_party/imgui"]
;	path = third_party/imgui
;	url = https://github.com/ocornut/imgui.git
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak.git
